matrix:
  include:
  - os: linux
    sudo: required
    language: android
    android:
      components:
        - tools
        - platform-tools
        - tools
        - build-tools-27.0.3
        - android-27
      licenses:
        - 'android-sdk-preview-license-.+'
        - 'android-sdk-license-.+'
        - 'google-gdk-license-.+'
  - os: osx
    language: objective-c
cache:
  directories:
    - node_modules
before_install:
  - nvm install node
  - nvm use node
  - npm install -g cordova ionic
install:
  - npm install
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ionic cordova platform add android; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ionic cordova platform add ios; fi
script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ionic cordova build android; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ionic cordova build ios; fi
