matrix:
  include:
  - os: linux
    sudo: required
    language: android
    android:
      components:
        - tools
        - platform-tools
        - tools
        - build-tools-27.0.3
        - android-27
      licenses:
        - 'android-sdk-preview-license-.+'
        - 'android-sdk-license-.+'
        - 'google-gdk-license-.+'
  - os: osx
    language: objective-c
  - os: windows
    language: node_js
    node_js: node
    env: MSBUILD_PATH="c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin"
cache:
  directories:
    - node_modules
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" || "$TRAVIS_OS_NAME" == "osx" ]]; then
    nvm install node;
    nvm use node;
    fi
  - npm install -g cordova ionic
install:
  - npm install
before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ionic cordova platform add android; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ionic cordova platform add ios; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
    export PATH=$MSBUILD_PATH:$PATH;
    ionic cordova platform add windows;
    fi
script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ionic cordova build android; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ionic cordova build ios; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then ionic cordova build windows; fi
