page-home {
    
    .large_button {
        line-height: 15vh !important;
        width: 20%;
    }
    
    #justify  {
        display:inline-flex;    
        text-align:justify;
    }
    
    .name {
        margin-top: auto;
        font-size: 20px;
    }
    
    .iconp{
        height: 15px;
        padding-bottom: 1px;
    }
    
}
