page-home {
    
    .large_button {
        line-height: 15vh !important;
        width: 20%;
    }
    
    .name { 
        margin-top: auto; 
        font-size: 20px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
    } 
    
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
}
