<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beeminder Goals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Username: {{username}}</p>
  <p>access token: {{access_token}}</p>
  
  <ion-list>
    <div *ngIf="data">
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="{{item.icon}}" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
	</div>`
  </ion-list>
</ion-content>
